@use './colors'; 
@use './typography';
@use './variables'as*;
@use './mixins'as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.font {
    font-family: "AvenirNextLTPro";

     &--bold {
            font-weight: 700;
    }

     &--demi {
            font-weight: 600;
    }

     &--regular {
            font-weight: 400;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: "AvenirNextLTPro";
}

.header {
    background-color: colors.$primary-black;
    color: colors.$primary-white;
    width: 100%;
    padding-top: 2.25rem;
    @include tablet {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-items: flex-start;
        padding-top: 0rem;
    }    

    &__logo {
        display: flex;
        align-items: center;
        margin: auto;
        max-height: 1.25rem;
        min-width: 7.5rem;
        @include tablet {
            margin:  1.5rem 2.25rem;
        }
        @include desktop {
            flex-direction: row;
            margin: 1.5rem 1.5rem 1.5rem 7rem;
        }
    }
    &__navbar {
        text-decoration: none;
        list-style: none;
        width: 50%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include tablet {
            width: 100%;
            margin: 0 1.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        &--feature {
            border-bottom: .1875rem solid colors.$primary-white;
            font-weight: 600;
        }
        &-container {
        display: flex;
        margin: 0;
        padding-left: 0;
        }
        @include tablet {
            justify-content: space-around;
        }
    }
}

