@use './colors'; 
@use './typography';
@use './variables'as*;
@use './mixins'as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.font {
    font-family: "AvenirNextLTPro";

     &--bold {
            font-weight: 700;
    }

     &--demi {
            font-weight: 600;
    }

     &--regular {
            font-weight: 400;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: "AvenirNextLTPro";
}

.header {
    background-color: colors.$primary-black;
    color: colors.$primary-white;
    width: 100%;
    padding-top: 2.25rem;
    @include tablet {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-items: flex-start;
        padding-top: 0rem;
    }    

    &__logo {
        display: flex;
        align-items: center;
        margin: auto;
        max-height: 1.25rem;
        min-width: 7.5rem;
        @include tablet {
            margin:  1.5rem 2.25rem;
        }
        @include desktop {
            flex-direction: row;
            margin: 1.5rem 1.5rem 1.5rem 7rem;
        }
    }
    &__navbar {
        text-decoration: none;
        list-style: none;
        width: 50%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include tablet {
            width: 100%;
            margin: 0 1.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        &:hover{
            border-bottom: .1875rem solid colors.$primary-white;
            font-weight: 600;
        }
        &--feature {
            border-bottom: .1875rem solid colors.$primary-white;
            font-weight: 600;
        }
        &-container {
        display: flex;
        margin: 0;
        padding-left: 0;
        }
        @include tablet {
            justify-content: space-around;
        }
    }
}

.footer {
    background-color: colors.$primary-black;
    color: colors.$primary-white;
    padding-top: 1rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    @include desktop {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 7.875rem 3rem 7.875rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            width: auto;
            &-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__icon {
        display: flex;
        width:30%;
        justify-content: space-between;
        @include tablet {
            width: 20%;
            justify-content: space-around;
            margin-left: -7.5rem;
        }
    }
    &__logo {
        background-image: url('../assets/Logo/Logo-bandsite.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 1.25rem;
        margin-top: 3rem;
        @include tablet {
            background-image: none;
            &--tablet {
            background-image: url('../assets/Logo/Logo-bandsite.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: 1.25rem;
            min-width: 7.5rem;
            @include desktop {
                background-image: none;
            }
            } 
        }
        @include desktop {
            background-image: none;
            &--desktop {
                background-image: url('../assets/Logo/Logo-bandsite.svg');
                background-size: contain;
                background-repeat: no-repeat;
                height: 1.25rem;
                min-width: 7.5rem;
                margin: 1rem;
                } 
        }
    }
    &__contact {
        @include tablet {
            display: flex;
            justify-content: space-between
            }
        &-block {
        @include desktop {
            margin-right: 5rem;
        }
    }
}
}
