
*,
*::before,
*::after {
    box-sizing: border-box;
}

.font {
    font-family: "AvenirNextLTPro";

     &--bold {
            font-weight: 700;
    }

     &--demi {
            font-weight: 600;
    }

     &--regular {
            font-weight: 400;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: "AvenirNextLTPro";
}
