@use './partials/global';
@use './partials/typography';
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/colors';
   

.hero {
    &__title  {
    color: colors.$primary-white;
    position: absolute;
    justify-content: flex-start;
    top: 50vw;
    left: 8rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
    line-height: 2rem;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        top: 40vw;
        left: 16rem;
    }
    @include desktop {
        top: 35vw;
        left: 21rem;
    }
    }

    &__background {
         &-img {
            height:auto;
            max-width: 100%;
         }
         &-layer {
            background-color:colors.$primary-black;
            width: 100%;
            height: 66.5vw;
            opacity: 50%;
            background-size: cover;
            position: absolute;
            z-index: 1;
         }
    }
}

.about {
    padding: 0rem 1rem 1rem 1rem;
    @include tablet {
        padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    }
    @include desktop {
        padding: 1.5rem 15.75rem 3rem 15.75rem;
    }
    &__img {
        background-size: cover;
        width: 100%;
        padding-bottom: 1rem;
        @include tablet {
            padding-bottom: 2.25rem;
            display: block;
            justify-content: center;
        }
    }
    &__title{
        font-size: 2rem;
        line-height: 2rem;
        margin: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            margin-left:-2.25rem;
        }
        @include desktop {
            padding-bottom: 2.5rem;
            margin-left:-7.875rem;
        }
    }
     &__quote {
            font-size: 1rem;
            line-height: 1.375rem;
            @include tablet {
                font-size: 1.5rem;
                line-height: 2rem;
                &--tablet {
                    font-size: .875rem;
                }
            }
            @include desktop {
                padding-right: 5rem;
            }
        }  
    }

.info {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    @include tablet {
        padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    }
    @include desktop {
            padding: 1.5rem 15.75rem 3rem 15.75rem;
    }
    &__title {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 500;
        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
        }
    }
    &__paragraph {
        font-size: .875rem; 
        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
            width: auto;
            &-container {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            }
        }
    }
}
.photo-gallery {
    padding: 1rem;
    @include tablet {
     padding:  3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
        padding: 1.5rem 7.875rem 3rem 7.875rem;
    }
    &__title {
        font-size: 2rem;
        line-height: 2rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            margin-top: 0;
        }

    }
   &__imgs {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    }
    &__img {
        width: 100%;
        margin-bottom: 1rem;
        @include tablet {
            width: 31%;
        }
        @include desktop {
            width: 30%;
        }
    }
}

.silver-background {
    background-color: colors.$secondary-alabaster;
    background-size: 150vw;
}

.jointheconversation {
    padding: 0rem 1rem 1rem 1rem;
    &__title {
        font-size: 2rem;
        line-height: 2rem;
    }
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &-right{
            display: flex;
            flex-direction: column;
        }
    }
    &__namebox {
        min-height: 2.25rem;
        width: 100%;
        margin-top: .25rem;
        padding: .75rem;
        border-radius: .25rem;
        border: 1px solid colors.$secondary-mercury;
        @include tablet {
            padding: 1rem;
        }
    }
    &__commentbox {
        min-height: 8rem;
        max-height: auto;
        width: 80vw;
        margin-top: .25rem;
        padding: .75rem;
        border-radius: .25rem;
        border: 1px solid colors.$secondary-mercury;
        text-align: start;
        @include tablet {
            padding: 1rem;
        }
    }
    &__box-description {
        color: colors.$primary-silver;
        font-weight: 600;
    }
    &__photo {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1rem;
        margin-top: 1.5rem;

    }
    &__button {
        background-color: colors.$primary-black;
        color: colors.$primary-white;
        min-width: 9.375rem;
        max-width: 100%;
        padding: 1rem;
        border-radius: 4px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        @include tablet {
            font-size: 12px;  
        }
        &:hover {
            background-color: colors.$secondary-black;
            color: colors.$primary-white;
        }

    }
}


.comment {
    margin: 0;
    width: auto;
    height: auto;
    &__block {
    display: flex;
    border-top: 1px solid colors.$secondary-mercury;
    padding-top: 1rem;
    &-righttop {
        display: flex;
        justify-content: space-between;
    }
    }
    &__avatar {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      margin-right: 1rem;
      background-color: colors.$secondary-mercury;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    &__paragraph {
      font-size: .875rem;
    }
    &__date {
        color: colors.$primary-silver;
    }
    &__name {
      font-weight: 600;
    }
  }

