/* Normal / Normal */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
/* Bold */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
/* Demi */
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.font {
  font-family: "AvenirNextLTPro";
}
.font--bold {
  font-weight: 700;
}
.font--demi {
  font-weight: 600;
}
.font--regular {
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font-family: "AvenirNextLTPro";
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  padding-top: 2.25rem;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-items: flex-start;
    padding-top: 0rem;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  margin: auto;
  max-height: 1.25rem;
  min-width: 7.5rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 1.5rem 2.25rem;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    flex-direction: row;
    margin: 1.5rem 1.5rem 1.5rem 7rem;
  }
}
.header__navbar {
  list-style: none;
  width: 50%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__navbar {
    width: 100%;
    margin: 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.header__navbar-link {
  text-decoration: none;
  color: #FFFFFF;
}
.header__navbar:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
  font-weight: 600;
}
.header__navbar--feature {
  border-bottom: 0.1875rem solid #FFFFFF;
  font-weight: 600;
}
.header__navbar-container {
  display: flex;
  margin: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .header__navbar {
    justify-content: space-around;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 1.5rem 2.25rem 3rem 2.25rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7.875rem 3rem 7.875rem;
  }
}
.footer__title {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: auto;
  }
  .footer__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__icon {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__icon {
    width: 20%;
    justify-content: space-around;
    margin-left: -7.5rem;
  }
}
.footer__logo {
  background-image: url("../assets/Logo/Logo-bandsite.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.25rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo {
    background-image: none;
  }
  .footer__logo--tablet {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.25rem;
    min-width: 7.5rem;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .footer__logo--tablet {
    background-image: none;
  }
}
@media (min-width: 1200px) {
  .footer__logo {
    background-image: none;
  }
  .footer__logo--desktop {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.25rem;
    min-width: 7.5rem;
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer__contact-block {
    margin-right: 5rem;
  }
}

.hero__title {
  color: #FFFFFF;
  position: absolute;
  justify-content: flex-start;
  top: 40vw;
  left: 1rem;
  width: 65%;
  z-index: 2;
  font-size: 2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    top: 25vw;
    left: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    top: 35vw;
    left: 7rem;
    width: 39%;
  }
}
.hero__title-description {
  color: #FFFFFF;
  position: absolute;
  justify-content: flex-start;
  font-size: 1.5rem;
  top: 30vw;
  left: 1rem;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero__title-description {
    font-size: 2rem;
    font-weight: 500;
    line-height: 4.25rem;
    top: 20vw;
    left: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero__title-description {
    top: 30vw;
    left: 7rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.hero__background-img {
  height: auto;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .hero__background-img {
    background-size: cover;
    height: 800px;
    width: 100%;
    overflow: hidden;
  }
}
.hero__background-layer {
  background-color: #323232;
  width: 100%;
  height: 85vw;
  opacity: 50%;
  background-size: cover;
  position: absolute;
  z-index: 1;
}
@media (min-width: 1200px) {
  .hero__background-layer {
    height: 800px;
    width: 100%;
    overflow: hidden;
  }
}
.hero__soundcloud {
  z-index: 2;
  position: absolute;
  justify-content: flex-start;
  top: 68vw;
  left: 1rem;
  width: 93%;
  height: auto;
  font-size: 10px;
}
@media (min-width: 768px) {
  .hero__soundcloud {
    width: 63%;
    left: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero__soundcloud {
    top: 40vw;
    left: 50rem;
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .shows {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .shows--desktop {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2rem;
  }
}
.shows__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 2rem 1rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 4rem 2rem;
  }
}
@media (min-width: 1200px) {
  .shows__title {
    margin: 4rem 7rem;
  }
}
.shows__block {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E1E1E1;
  padding: 0rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .shows__block {
    flex-direction: row;
    align-items: center;
    padding: 0rem 2rem 1rem 2rem;
  }
}
.shows__block:hover {
  background-color: #FAFAFA;
}
.shows__block::-moz-selection {
  background-color: #E1E1E1;
}
.shows__block::selection {
  background-color: #E1E1E1;
}
.shows__date {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
}
.shows__venue {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
}
.shows__location {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
}
.shows__description {
  color: #AFAFAF;
  font-weight: 600;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .shows__description {
    display: none;
  }
}
.shows__tablet-topcontainer {
  display: none;
}
@media (min-width: 768px) {
  .shows__tablet-topcontainer {
    display: flex;
    list-style: none;
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .shows__tablet-top {
    width: 25%;
    color: #AFAFAF;
    font-weight: 600;
  }
}
.shows__button {
  background-color: #323232;
  color: #FFFFFF;
  min-width: 9.375rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__button {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0rem;
  }
}
.shows__button:hover {
  background-color: #000000;
  color: #FFFFFF;
}/*# sourceMappingURL=shows.css.map */